 i[disabled]{
  opacity: 0.6;
  cursor: not-allowed;
}
header .container{
  overflow : hidden;
}
.hidecomponent{
  display:none;
}
.logo,.logodetails{
  margin-right:.2em;
  float:left;
}
.headerright{
  float:right;
}
.logodetails{
  margin-top: 1.3em;
}
.toolname{
  margin-top: -0.7em
}
.controls{
  clear:both;
}
.childimg{
  height:112px;
}
.audioplayercard{
  width:100%;
}